/* Responsive */
@media screen and (max-width: 1199px){
    .section .container{
        padding-top:70px ;
    }
    .aside .nav-toggler{
        display: -ms-flexbox;
        display: flex;
       left: 30px;
    }
    .aside .nav-toggler.open{
        left: 200px;
    }
    .aside{
        left: -270px;
    }
    
    .aside.open{
        left: 0px;
    }
    .section{
        left: 0;
    }
    .section.open{
        left: 270px;
    }
    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
}
@media screen and (max-width: 991px){
    .blog .blog-item,
    .Service .service-item,
    .portfolio .portfolio-item{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 767px){
    .contact .contact-form .col-6,
    .blog .blog-item,
    .Service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .portfolio .portfolio-filter button{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 575px){
    .contact .contact-info-item,
    .portfolio .portfolio-item{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}